<script>
  (function () {
    if (sessionStorage.getItem('lang_redirected')) return;
    sessionStorage.setItem('lang_redirected', '1');

    var supported = ['tr', 'es', 'de', 'fr'];
    var browserLang = (navigator.language || navigator.userLanguage || 'en').toLowerCase().split('-')[0];
    var target = supported.indexOf(browserLang) !== -1 ? browserLang : 'en';

    var path = window.location.pathname;
    var currentLang = 'en';
    for (var i = 0; i < supported.length; i++) {
      if (path === '/' + supported[i] || path.indexOf('/' + supported[i] + '/') === 0) {
        currentLang = supported[i];
        break;
      }
    }

    if (target === currentLang) return;

    var newPath = target === 'en' ? '/' : '/' + target + '/';
    window.location.replace(newPath);
  })();
</script>
